@font-face {
    font-family: Chosence;
    src: url('../fonts/Chosence_Regular.otf');
}

/* Common colour definitions. */
body {
    --text-color: #502c69;
    --text-color-alt: #ff8200;
}

/* Common definitions for game layouts. */
.finish-time {
    background-color: var(--text-color);
    color: white;
    margin: 0;
    position: absolute;
}
